/* Write your CSS here */
.app-container {
  min-height: 100vh;
  padding-bottom: 32px;
  background-color: #000000;
}

.prime-img {
  width: 100%;
}
.movies-slider-container {
  width: 90%;
  margin: auto;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .movies-slider-container {
    max-width: 1110px;
  }
}

.slider-title {
  color: #ffffff;
  font-size: 25px;
  font-family: 'Roboto';
  font-weight: 600;
  line-height: 1.3;
  margin-top: 32px;
  margin-bottom: 25px;
}
